In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel("data.xlsx")

In [13]:
df.describe()

       Unnamed: 9
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [14]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Unnamed: 9,Opposition,Ground,Start Date
0,4,13,10,1,0,40,5,caught,1,NaN,v West Indies,Kingston,2011-06-20
1,15,72,54,2,0,27.77,5,caught,3,NaN,v West Indies,Kingston,2011-06-20
2,0,1,2,0,0,0,5,caught,1,NaN,v West Indies,Bridgetown,2011-06-28
3,27,118,107,1,1,25.23,5,caught,3,NaN,v West Indies,Bridgetown,2011-06-28
4,30,62,53,2,0,56.6,5,caught,2,NaN,v West Indies,Roseau,2011-07-06

dtype('O')

In [22]:
len(df[df.Runs=="DNB"])

4

In [25]:
df[df.Runs=="DNB"].index

Int64Index([5, 27, 70, 128], dtype='int64')

In [26]:
df.drop(df[df.Runs=="DNB"].index,inplace=True)

In [28]:
len(df[df.Runs=="DNB"])

0

In [29]:
df.Runs.dtype

dtype('O')

In [30]:
df.describe()

       Unnamed: 9
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [56]:
import pandas as pd
import numpy as np
df = pd.read_excel("data.xlsx")
index_remove = df[df.Runs=="DNB"].index.    +df[df.Runs=="TDNB"].index

ValueError: cannot evaluate a numeric op with unequal lengths